* {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  background: #ffffff;
}

.navigation {
  position: absolute;
  width: 1400px;
  height: 78px;
  left: 0px;
  top: 20px;
}

.logo {
  position: absolute;
  width: 187px;
  height: 32px;
  left: 143px;
  top: 22px;
}

.nav-links {
  position: absolute;
  height: 28px;
  left: 46.07%;
  right: 28.93%;
  top: calc(50% - 28px / 2);

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: #2f281e;
  margin-right: 34px;
}

.link {
  text-decoration: none;
  margin-right: 10px;
}

.link:visited {
  text-decoration: none;
  color: #2f281e;
}

.sign-in {
  position: absolute;
  left: 73.5%;
  right: 19.21%;
  top: 19.23%;
  bottom: 21.79%;
  border: 1px solid #bcd0e5;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
}

.sign-up {
  position: absolute;
  left: 81.79%;
  right: 10.36%;
  top: 19.23%;
  bottom: 21.79%;
  background: #ff9900;
  border-radius: 4px;
  font-weight: 600;
  line-height: 24px;
  border: none;
  color: #ffffff;
}
